@media screen and (min-width: 800px) {
  .banner {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h4 {
      font-size: 1.25rem;
    }
  }
}

@media screen and (min-width: 576px) {
  .feature {
    float: right;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    float: right;
    width: 25%;
  }
}
//info query
@media screen and (min-width: 992px) {
  //info
  %section-center {
    width: 95vw;
  }
  .about-image {
    margin-left: 2rem;
    float: left;
    width: 50%vw - 2rem;
  }
  .about-info {
    float: right;
    width: 50%vw - 2rem;
    margin-right: 2rem;
  }
}

//product query
@media screen and (min-width: 768px) {
  .product {
    float: right;
    width: 50%;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .product {
    width: 33.33%;
  }
}

//service
@media screen and (min-width: 992px) {
  .service-card {
    float: right;
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .service-card {
    width: 27%;
  }
}
//contact
@media screen and (min-width: 992px) {
  .contact article {
    float: right;
    width: 50%;
  }
}
//navbar
@media screen and (min-width: 768px) {
  .navbar {
      width: 30vw;
      max-width: 20rem;
  }
}
