$primary: #cb997e;
$primaryLight: #ddbea9;
$bgLight: #f9eadf;
$green-3: #b7b7a4;
$green-2: #a5a58d;
$green-1: #6b705c;
$ffVazir: "vazir", sans-serif;
$radius: 0.5rem;
$transition: all 0.3s linear;
%btn {
  background: $primary;
  padding: 0.5rem 1rem;
  border-radius: $radius;
  color: white;
  transition: $transition;
}
%btnHover {
  background: $primaryLight;
  color: $primary;
}
%clear{
  &::after,
  &::before {
    content: "";
    clear: both;
    display: block;
  }
}
%section-center{
  padding: 4rem 0;
  width: 85vw;
  max-width: 100vw;
  margin: 0 auto;
}
%title{
  margin-bottom: 2rem;
  h3 {
    color: $primary;
    
  }
}