
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
header .icon a:hover {
  color: #e9c46a;
}

* {
  box-sizing: border-box;
}

.fixed-top {
  background-color: white;
}
.fixed-top a {
  color: #264653;
}

.transition1 {
  transition: all 0.5s;
}

.bg-primary1 {
  background: #264653;
}

.text-primary1 {
  color: #264653;
}
.text-primary1 a,
.text-primary1 p,
.text-primary1 h1,
.text-primary1 h2,
.text-primary1 h3,
.text-primary1 h4,
.text-primary1 h5,
.text-primary1 h6 {
  color: #264653;
}

.bg-primary2 {
  background: #287271;
}

.text-primary2 {
  color: #287271;
}
.text-primary2 a,
.text-primary2 p,
.text-primary2 h1,
.text-primary2 h2,
.text-primary2 h3,
.text-primary2 h4,
.text-primary2 h5,
.text-primary2 h6 {
  color: #287271;
}

.bg-parimary3 {
  background: #2a9d8f;
}

.text-parimary3 {
  color: #2a9d8f;
}
.text-parimary3 a,
.text-parimary3 p,
.text-parimary3 h1,
.text-parimary3 h2,
.text-parimary3 h3,
.text-parimary3 h4,
.text-parimary3 h5,
.text-parimary3 h6 {
  color: #2a9d8f;
}

.bg-parimary4 {
  background: #8ab17d;
}

.text-parimary4 {
  color: #8ab17d;
}
.text-parimary4 a,
.text-parimary4 p,
.text-parimary4 h1,
.text-parimary4 h2,
.text-parimary4 h3,
.text-parimary4 h4,
.text-parimary4 h5,
.text-parimary4 h6 {
  color: #8ab17d;
}

.bg-parimary5 {
  background: #e9c46a;
}

.text-parimary5 {
  color: #e9c46a;
}
.text-parimary5 a,
.text-parimary5 p,
.text-parimary5 h1,
.text-parimary5 h2,
.text-parimary5 h3,
.text-parimary5 h4,
.text-parimary5 h5,
.text-parimary5 h6 {
  color: #e9c46a;
}

.bg-bg1 {
  background: #f4a261;
}

.text-bg1 {
  color: #f4a261;
}
.text-bg1 a,
.text-bg1 p,
.text-bg1 h1,
.text-bg1 h2,
.text-bg1 h3,
.text-bg1 h4,
.text-bg1 h5,
.text-bg1 h6 {
  color: #f4a261;
}

.bg-bg2 {
  background: #ee8959;
}

.text-bg2 {
  color: #ee8959;
}
.text-bg2 a,
.text-bg2 p,
.text-bg2 h1,
.text-bg2 h2,
.text-bg2 h3,
.text-bg2 h4,
.text-bg2 h5,
.text-bg2 h6 {
  color: #ee8959;
}

.bg-bg3 {
  background: #e76f51;
}

.text-bg3 {
  color: #e76f51;
}
.text-bg3 a,
.text-bg3 p,
.text-bg3 h1,
.text-bg3 h2,
.text-bg3 h3,
.text-bg3 h4,
.text-bg3 h5,
.text-bg3 h6 {
  color: #e76f51;
}

.bg-gradient-top {
  background: linear-gradient(
    0deg,
    #264653,
    #287271,
    #2a9d8f,
    #8ab17d,
    #e9c46a,
    #f4a261,
    #ee8959,
    #e76f51
  );
}

.bg-gradient-right {
  background: linear-gradient(
    90deg,
    #264653,
    #287271,
    #2a9d8f,
    #8ab17d,
    #e9c46a,
    #f4a261,
    #ee8959,
    #e76f51
  );
}

.bg-gradient-bottom {
  background: linear-gradient(
    180deg,
    #264653,
    #287271,
    #2a9d8f,
    #8ab17d,
    #e9c46a,
    #f4a261,
    #ee8959,
    #e76f51
  );
}

.bg-gradient-left {
  background: linear-gradient(
    270deg,
    #264653,
    #287271,
    #2a9d8f,
    #8ab17d,
    #e9c46a,
    #f4a261,
    #ee8959,
    #e76f51
  );
}

.bg-gradient-top-right {
  background: linear-gradient(
    45deg,
    #264653,
    #287271,
    #2a9d8f,
    #8ab17d,
    #e9c46a,
    #f4a261,
    #ee8959,
    #e76f51
  );
}

.bg-gradient-bottom-right {
  background: linear-gradient(
    135deg,
    #264653,
    #287271,
    #2a9d8f,
    #8ab17d,
    #e9c46a,
    #f4a261,
    #ee8959,
    #e76f51
  );
}

.bg-gradient-top-left {
  background: linear-gradient(
    225deg,
    #264653,
    #287271,
    #2a9d8f,
    #8ab17d,
    #e9c46a,
    #f4a261,
    #ee8959,
    #e76f51
  );
}

.bg-gradient-bottom-left {
  background: linear-gradient(
    315deg,
    #264653,
    #287271,
    #2a9d8f,
    #8ab17d,
    #e9c46a,
    #f4a261,
    #ee8959,
    #e76f51
  );
}

.bg-gradient-radial {
  background: radial-gradient(
    #264653,
    #287271,
    #2a9d8f,
    #8ab17d,
    #e9c46a,
    #f4a261,
    #ee8959,
    #e76f51
  );
}

/*# sourceMappingURL=style.css.map */
