$prussian-blue: #003049ff;
$fire-engine-red: #d62828ff;
$orange-wheel: #f77f00ff;
$xanthous: #fcbf49ff;
$vanilla: rgb(251, 249, 236);



$barn-red: #780000ff;
$fire-brick: #c1121fff;
$papaya-whip: #fdf0d5ff;
$prussian-blue: #003049ff;
$air-superiority-blue: #669bbcff;
$air-superiority-blue-hover:#9fbfd4;
$penn-res:#9D0910;
$indian-red:#D86664;
$payne-grey:#1D4D68;