.nav-btn {
  font-size: 2rem;
  color: $primary;
  position: fixed;
  top: 5%;
  right: 5%;
  z-index: 1;
  cursor: pointer;
  
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background-color: $bgLight;
  z-index: 2;
  height: 100%;
  width: 100%;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.2);

  transition: $transition;
  transform: translateX(100%);
}

.showNav {
  transform: translate(0);
}

.navbar-header {
  text-align: left;
}

.nav-close {
  font-size: 2.5rem;
  color: $primaryLight;
  cursor: pointer;
  transition: $transition;
  &:hover {
    color: $primary;
  }
}

.nav-items {
  list-style-type: none;
  direction: rtl;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: $green-2;
  transition: $transition;
  i {
    font-size: 1.4rem;
    margin-left: 0.3rem;
  }
  &:hover {
    background: $primaryLight;
    border-right: 0.25rem solid $primary;
    padding-right: 1.5rem;
    color: $primary;
  }
}
