.products {
  @extend %clear;
  @extend %section-center;
  .btn {
    display: inline-block;
    margin-top: 1rem;
    @extend %btn;
    &:hover {
      @extend %btnHover;
    }
  }
  &-title {
    @extend %title;
  }
  &-cards {
    @extend %clear;
  }
  &-text {
    color: $green-2;
    max-width: 26rem;
    margin-left: auto;
  }
  article{
    padding: 2rem 0;
  }
  .product{
    margin-bottom: 2rem;
    &-img{
        border-radius: $radius;
        margin-bottom: 1rem;
        height: 17rem;
        object-fit: cover;
    }
    &-price{
        color: $primary;
        direction: rtl;
    }
  }
  
}
